<!DOCTYPE html>
<html>
  <head>
    <title>Final Auth and Prefs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body bgcolor='LightGray'>
    <center>  
      <table bgcolor='white' width='90%'>
        <tr><td><%= render "layouts/header" %></td></tr>
        <tr><td height='300' valign='top'><%= yield %></td></tr>
        <tr><td><%= render "layouts/footer" %></td> </tr>
      </table>
    </center>
  </body>
</html>
